@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
  font-family: "Oswald", "sans-serif";
}
header h2 {
  width: 30%;
  font-size: 2.5rem;
}
header nav {
  width: 30%;
}
header ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 15vh;
  list-style: none;
}
header a {
  text-decoration: none;
  color: #5b5b5b;
  font-size: 1.25rem;
  font-weight: 500;
}
header button {
  width: 10%;
  height: 78px;
  font-family: "Oswald";
  font-size: 1.5rem;
  font-weight: 500;
  background-color: #FFFFFF;
}

main .container_background_image {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url("./imagens/background.png");
  background-repeat: no-repeat;
  background-size: 100vw;
  font-family: "Oswald", "sans-serif";
  height: 75vh;
  padding: 5%;
}
main .container_background_image h1 {
  font-size: 6rem;
  color: #FFFFFF;
  font-weight: 700;
}
main .container_background_image h3 {
  font-size: 2rem;
  color: #FFFFFF;
  font-weight: 300;
  height: 10vh;
}
main .container_background_image button {
  width: 251px;
  height: 59px;
  background-color: #0016DF;
  font-family: "Oswald";
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 700;
}
main .gestao_portuaria {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 5%;
}
main .gestao_portuaria h3 {
  font-family: "Oswald";
  color: #0017E9;
  font-size: 1.5rem;
}
main .gestao_portuaria h2 {
  font-family: "Roboto";
  font-weight: 800;
  font-size: 2.25rem;
  width: 30vw;
}
main .gestao_portuaria p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.5rem;
  width: 30vw;
}
main .gestao_portuaria a {
  font-family: "Roboto";
  font-size: 1.5rem;
}
main .gestao_portuaria div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-evenly;
  width: 90%;
}
main .nossas_solucoes {
  background-color: rgba(206, 197, 197, 0.792);
  display: flex;
  justify-content: space-evenly;
  padding: 5%;
  flex-direction: column;
  text-align: center;
}
main .nossas_solucoes h2 {
  font-family: "Oswald";
}
main .nossas_solucoes .solucoes {
  color: #0017E9;
  height: 9vh;
}
main .nossas_solucoes div {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 5%;
}
main .nossas_solucoes div article {
  margin: 4rem;
  background-color: #fff;
  text-align: left;
  font-family: "Oswald";
}
main .nossas_solucoes div article h3 {
  font-weight: 500;
  padding: 1rem;
  font-size: 1.5rem;
}
main .nossas_solucoes div article p {
  padding: 1rem;
  font-weight: 200;
  font-size: 1.5rem;
}
main .atendimento {
  display: flex;
  justify-content: space-between;
  padding: 5%;
  flex-direction: row;
  text-align: left;
}
main .atendimento div {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-family: "Oswald";
}
main .atendimento div h2 {
  color: #0017E9;
  font-size: 2rem;
  height: 8vh;
}
main .atendimento div h3 {
  font-size: 1.5rem;
  height: 15vh;
}
main .atendimento div .galeria {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 50vw;
  justify-content: flex-start;
}
main .atendimento div .galeria figure {
  width: 40%;
  height: 35vh;
}
main .atendimento div .galeria figure figcaption {
  font-weight: 500;
  font-size: 1.25rem;
}
main .atendimento div .field input {
  width: 25vw;
  height: 50px;
}
main .atendimento div textarea {
  width: 25vw;
  height: 100px;
}
main .atendimento div button {
  width: 18vw;
  height: 7vh;
  background-color: #0016DF;
  font-family: "Oswald";
  color: #FFFFFF;
  font-size: 1.25rem;
  font-weight: 500;
}

@media (min-width: 201px) and (max-width: 500px) {
  header {
    height: 30vh;
    background-color: tomato;
    display: flex;
    flex-direction: column;
  }
  header ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header button {
    width: 20%;
    height: 5vh;
  }
  h2 {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */